.main-container {
    width: 1440px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name-heading {
    font-size: 18px;
    font-family: 'Comfortaa';
    font-weight: 600;
    color: #25282B;
}

.header-list-container {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.header-list {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 15px;
  color: #25282B;


}